<%- include('header') -%>
<div  id="loading-bar"
      tabindex="0">
  <div id="load-fill" aria-hidden="true"></div>
  <div id="animate-blocks-container" aria-hidden="true">
    <div class="block" aria-hidden="true"></div>
    <div class="block" aria-hidden="true"></div>
  </div>
</div>
<h3 tabindex="0">Coming Soon
  <br>
    August 30, 2019</h3>
<img src="img/idle.gif" alt="An animated gif of myself, standing around, smiling, and waiting" id="talk-to-me" tabindex="0">
<article id="speech-bubble" aria-label="Press space to talk to me, press any other key to exit!" tabindex="0"><p id="conversation"></p></article>
<%- include('footer') -%>