</main>
<script src="js/loading-bar.min.js"></script>
<script type="text/javascript">
  let endDate = new Date('30-Aug-2019 00:00:35');
  let startDate = new Date('23-Nov-2018 00:57:35');;
  let testBar = new loadBar(endDate, startDate, '#load-fill', 1000);
</script>
<script src="js/script.min.js"></script>
<!-- <script src="js/service_worker.min.js"></script> -->
</body>
</html>