### gitignore ###

#ignore all node modules
node_modules/

#ignore the production folders
dist/
assets/

#ignore this new expo folder that shouldn't be here in the first place
.expo

#ignore js mapped in src file
src/**/*.js
src/**/*.js.map
