  <nav id="social-footer-nav">
    <ul>
      <li>
        <a href="#github">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#itch.io">
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#steam">
          <i class="fa fa-steam" aria-hidden="true"></i>
        </a>
      </li>
            <li>
        <a href="#twitch">
          <i class="fa fa-twitch" aria-hidden="true"></i>
        </a>
      </li>      <li>
        <a href="#mixer">
          <i class="fa fa-steam" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>