  <nav id="social-footer-nav" role="navigation" aria-label="External Social Media Links">
    <ul>
      <li>
        <a href="#github" aria-label="booellean at Github">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#itch.io" aria-label="booellean at Itch.io">
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#twitter" aria-label="booellean at Twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#steam" aria-label="booellean at Steam">
          <i class="fa fa-steam" aria-hidden="true"></i>
        </a>
      </li>
            <li>
        <a href="#twitch" aria-label="booellean at Twitch">
          <i class="fa fa-twitch" aria-hidden="true"></i>
        </a>
      </li>      <li>
        <a href="#mixer" aria-label="booellean at Mixer">
          <i class="fa fa-steam" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>