</main>
<footer id="footer">
  <small aria-label="Copyright Poly entertainment" tab-focus="0"><span>&copy; </span><%- include('company-svg-smooth-path') -%></small>

  <%- include('footer-social') -%>
  <%- include('footer-form') -%> 

</footer>
</div>