<footer id="footer">
  <a href="#contact-form" class="skip-link" aria-label="Skip Link: Press Enter to skip social media links"></a>
  <small aria-label="Copyright Poly entertainment" tab-focus="0"><span>&copy; </span><%- include('company-svg-smooth-path') -%></small>

  <%- include('footer-social') -%>
  <%- include('footer-form') -%> 

</footer>
</div>