  <form id="contact-author">
    <fieldset>
      <legend>Contact</legend>
        <label for="form-name"><span>Name: </span><input type="text" id="form-name"/></label>
        <label for="form-email"><span>Email: </span><input type="email" id="form-email"/></label>
        <label for="form-tel"><span>Telephone: </span><input type="tel" id="form-tel"/></label>
        <label for="form-textarea">Message:</label>
        <textarea id="form-textarea"></textarea>
    </fieldset>
    <button id="contact-submit">Send</button>
  </form>