<%- include('head') -%>
<body>
  <div  id="scanlines" aria-hidden="true"></div>
  <div id="main">
  <header id="header">
    <a href="/" aria-label="Go back to home splash page">
      <h1 aria-label="Poly entertainment" tabindex="0">
      <%- include('company-svg-8bit-path') -%>
      </h1>
    </a>
    <%- include('nav') -%>
  </header>