<%- include('head') -%>
<body>
  <div id="splash">
    <div  id="scanlines" aria-hidden="true"></div>
    <header>
      <h1 aria-label="Poly entertainment" tabindex="0">
        <%- include('company-svg-8bit-path') -%>
      </h1>
    </header>