/******************************************************************************/
/****************** Variables to be included in all Sheets ********************/
/******************************************************************************/

@font-face {
  font-family: "8-bit";
  font-display: auto;
  src: local('8-bit'), url('../fonts/PressStart2P.ttf') format("truetype");
}

@font-face {
  font-family: "retro";
  font-display: auto;
  src: local('retro'), url('../fonts/VCR.ttf') format("truetype");
}

$theme-color : #461ca4;
$theme-white : #f8f9f2;
$theme-hover : #66c7f4;
$theme-dark-purp : #070133;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
  outline: none;
}

/******************************************************************************/
/**************************** Splash Page Stylings ****************************/
/******************************************************************************/

html, body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $theme-white;
}

#splash, #main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}

#splash{
  background-color: $theme-color;
  align-content: center;
  align-items: center;
}

main{
  display: block;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#header, #footer{
  flex-grow: 0;
}

h1{
  #poly-site-splash{
    padding: 2%;
    width: 100vw;
    max-height: 20vh;
    max-width: 35em;
    cursor: pointer;
    path{
      fill: $theme-white;
        transition: filter .1s linear, fill .1s linear;
    }
  }
}
h1:hover{
  #poly-site-splash{
    path{
      fill: $theme-hover;
    }
  }
}

h3{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-family: '8-bit';
  color: $theme-white;
  text-align: center;
  line-height: 2em;
  font-size: 2.7vh;
}
#scanlines{
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  opacity: .13;
  pointer-events: none;
  background-image: url('../img/scanlines.png');
  background-repeat: repeat repeat;
  background-size: 2px;
}

#loading-bar{
  width: 80vw;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  border: 2em solid $theme-white;
  -o-border-image: url("../img/8-bit-border.png") 27% repeat;
     border-image: url("../img/8-bit-border.png") 27% repeat;
}

#load-fill{
  width: 0%;
  transition: width .2s linear;
  height: 3.5vh;
  background-color: $theme-white;
}

#animate-blocks-container{
  width: 0;
  overflow: visible;
}

.block{
  width: 1.75vh;
  height: 1.75vh;
  background-color: $theme-white;
  animation: fillblock 4s linear infinite 2s;
  opacity: 0;
}

.block:nth-child(2){
  transform: translateX(-6em);
  animation-delay: 4s;
}

@keyframes fillblock {
  0%{
    opacity: 0;
    transform: translateX(32px);
  }
  1%{
    opacity: 1;
    transform: translateX(32px);
  }
  2%{ transform: translateX(30px) }
  4%{ transform: translateX(30px) }
  5%{ transform: translateX(28px) }
  7%{ transform: translateX(28px) }
  8%{ transform: translateX(26px) }
  10%{ transform: translateX(26px) }
  11%{ transform: translateX(24px) }
  13%{ transform: translateX(24px) }
  14%{ transform: translateX(22px) }
  16%{ transform: translateX(22px) }
  17%{ transform: translateX(20px) }
  19%{ transform: translateX(20px) }
  20%{ transform: translateX(18px) }
  23%{ transform: translateX(18px) }
  24%{ transform: translateX(16px) }
  26%{ transform: translateX(16px) }
  27%{ transform: translateX(14px) }
  30%{ transform: translateX(14px) }
  31%{ transform: translateX(12px) }
  33%{ transform: translateX(12px) }
  34%{ transform: translateX(10px) }
  36%{ transform: translateX(10px) }
  37%{ transform: translateX(8px) }
  39%{ transform: translateX(8px) }
  40%{ transform: translateX(6px) }
  42%{ transform: translateX(6px) }
  43%{ transform: translateX(4px) }
  45%{ transform: translateX(4px) }
  46%{ transform: translateX(2px) }
  49%{ transform: translateX(2px) }
  50%{ transform: translateX(0px) }
  53%{ transform: translateX(0px) }
  54%{ transform: translateX(-2px) }
  57%{ transform: translateX(-2px) }
  58%{ transform: translateX(-4px) }
  61%{ transform: translateX(-4px) }
  62%{ transform: translateX(-6px) }
  69%{ transform: translateX(-6px) }
  70%{ transform: translateX(-8px) }
  77%{ transform: translateX(-8px) }
  78%{ transform: translateX(-10px) }
  84%{ transform: translateX(-10px) }
  85%{ transform: translateX(-12px) }
  91%{ transform: translateX(-12px) }
  92%{ transform: translateX(-14px) }
  99%{ transform: translateX(-14px); opacity: 1; }
  100%{
    transform: translateX(-16px);
    opacity: 0;
    }
}

#speech-bubble{
  transform: scaleX(0) scaleY(0);
  width: 27em;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  height: auto;
  background-color: $theme-white;
  border: double 7px $theme-dark-purp;
  outline: solid 4px $theme-dark-purp;
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'retro';
    color: $theme-dark-purp;
    font-size: 2.2vh;
  }
}

#talk-to-me{
  cursor: pointer;
  height: 55vh;
}

@keyframes openbubble{
  0%    {transform: scaleX(.07) scaleY(.07);}
  35%   {transform: scaleX(1) scaleY(.07);}
  100%  {transform: scaleX(1) scaleY(1);}
}

@keyframes closebubble{
  0%    {transform: scaleX(1) scaleY(1);}
  65%   {transform: scaleX(1) scaleY(.07);}
  100%  {transform: scaleX(.07) scaleY(.07);}
}

#speech-bubble.open{
  animation: openbubble .3s ease-in-out;
  transform: scaleX(1) scaleY(1);
}

#speech-bubble.close{
  animation: closebubble .3s ease-in-out;
  transform: scaleX(0) scaleY(0);
}

@media screen and (min-width: 116.26em){
  #speech-bubble{
    bottom: 25%;
    right: 15%;
  }
}

@media screen and (max-width: 116.25em){
  #speech-bubble{
    bottom: 55%;
  }
}

@media screen and (max-width: 32em){
  #speech-bubble{
    top: 0%;
    width: 90%;
    height: 50vh;
    max-height: 100%;
    min-height: 0;
    margin: 0 auto;
  }
}

/******************************************************************************/
/***************************** Main Page Stylings *****************************/
/******************************************************************************/

h1{
  #poly-site{
    width: 10em;
    max-height: 20vh;
    cursor: pointer;
    path{
      fill: $theme-color;
        transition: filter .1s linear, fill .1s linear;
    }
  }
}
h1:hover{
  #poly-site{
    path{
      fill: $theme-hover;
    }
  }
}

#header {
  padding: .5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#footer {
  background: $theme-color;
  padding: .75em;
}

#main {
  background: linear-gradient(to right, rgba(29, 20, 29, .1),  rgba(29, 20, 29, 0),  rgba(29, 20, 29, 0), rgba(29, 20, 29, 0), rgba(29, 20, 29, 0),  rgba(29, 20, 29, 0), rgba(29, 20, 29, 0),  rgba(29, 20, 29, .1)); 
}

main {
  color: $theme-dark-purp;
  padding: 1em 3em; 
}

#nav {
  ul {
    display: flex;
    flex-flow: row wrap;
    li {
      list-style: none;
      padding: 0 0 .2em 2em;
      a{
        color: $theme-dark-purp;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'retro';
        text-align: right;
        font-size: 1.2em;
      }
    }
  }
}
