<!DOCTYPE HTML>

<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="description" content="Poly entertainment: content promoting diversity.">
		<meta name="author" content="Elle 'booellean' Pope">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#070133">

		<link href="img/icon-120.png" rel="apple-touch-icon" />
		<link href="img/icon-152.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="img/icon-167.png" rel="apple-touch-icon" sizes="167x167" />
		<link href="img/icon-180.png" rel="apple-touch-icon" sizes="180x180" />
		<link rel="shortcut icon" href="img/favicon.ico" type="img/x-icon">
		<link rel="manifest" href="/manifest.json">

		<link rel="stylesheet" type="text/css" href="css/style.min.css">

		<title>Poly entertainment - Your dashboard!</title>
</head>
<%- include('header') -%>
<%- include('footer') -%>
<%- include('script') -%>

</html>